<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--permissions for INTERNET access-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissions for CAMERA access -->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Permissions for Location access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterDay"
        tools:targetApi="31">

        <!-- MainActivity declaration -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"></activity>

        <!-- RegisterActivity declaration -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"></activity>

        <!-- MainActivity declaration -->
        <activity
            android:name=".ui.activity.CreationActivity"
            android:screenOrientation="portrait"></activity>

        <!-- ObjectiveDetail declaration -->
        <activity
            android:name=".ui.activity.ObjectiveDetailActivity"
            android:screenOrientation="portrait"></activity>

        <!-- EditObjective declaration -->
        <activity
            android:name=".ui.activity.EditObjectiveActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.activity.TakePhotoActivity"
            android:screenOrientation="portrait"></activity>


        <!-- LoginActivity declaration with intent filter to be the launcher activity -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>